/* You can add global styles to this file, and also import other style files */
// https://medium.com/swlh/how-to-structure-scss-in-an-angular-app-a1b8a759a028
@import "theme/theme";
@import "modules/buttons";

// 1. Base
body, html {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(	239, 250, 250, 1);
  color: rgba(30, 41, 41, 1);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

a {
  color: var(--primary-600);
  text-decoration: none;
}

// 2. Layout

// 3. Module

// 4. State

// 5. Theme

// 6. Shame
