@import "../../../../assets/css/base/content";

:host {
    background: var(--shade-50);
    display: block;
    .header-bar {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px;
        width: $page-width;
        .logo {
            color: var(--primary-500);
        }
        .main-menu {
            align-items: center;
            display: flex;
            gap: 1rem;
            a {
                color: var(--shade-600);
                &.selected {
                    color: var(--primary-500);
                }
                &:hover {
                    color: var(--primary-500);
                }
            }
        }
        .user-actions {
            align-items: center;
            display: flex;
            gap: 1rem;
        }
    }
}